h1{
    text-align: center;
    font-size: 30px;
    color: #f90b6d;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
}
h1::after{
    content: "";
    display: block;
    transform: translateX(-50%);
    background: radial-gradient(circle, #cddc39, #fff);
    position: relative;
    left: 50%;
    width: 200px;
    height: 3px;
}

.material-icons{
    color: #f90b6d;
    background: #cddc39;
    padding: 3px;
}

fieldset{
    border: 1px solid #ccc;
    margin-top: 3%;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 35%;
}

table{
    width: 130%;
}
table .fas{
    color: #fff;
    background: #cddc39;
    padding: 5px;
    width: 20px;
    text-align: center;
}