h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    height: 34px;
    margin: 12px 0px 16px 0px;
    text-transform: uppercase;
    font-size: 28px;
    color: #F90B6D;
    text-align: center;
}
/* pseudo-element */
h1::after{
    content: "";
    display: block;
    transform: translateX(-50%);
    background: radial-gradient(circle, #cddc39, #fff);

    position: relative;
    left: 50%;
    width: 200px;
    height: 3px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    height: 28px;

    margin: 5px 0px 10px 0px;
    min-width: 24px;
    color: #F90B6D;
    text-align: center;
}

/* NHÓM SẢN PHẨM */

/* phần đặt hàng */
span{
    /* position: fixed; */
    display: flex;
    margin: 0px auto 0px auto;
    padding: 0px;
    color: #ed4190;
    text-align: justify;

    gap: 5px;
    align-items: center;
    justify-content: center; /* Căn giữa theo chiều ngang*/
    flex-direction: row;
    padding-top: 15px;
}

/* section chứa các sản phẩm cùng loại */
section{
    display: flex;
    margin: 3px;
    border: 1px  #dbd7d9;
    padding: 0px;
    flex: 1;
    color: #ed4190;
    text-align: center;

    justify-content: space-between;
    flex-direction: row;
}


.item{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    background: linear-gradient(to top, #cddc39 0%, transparent 10%);
}
.item p{
    text-align: justify;
    padding: 5px;
    color: #000;
}